*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: .5s ease-in; */
}

.bg-home {
    background-color: #0a101f !important;
}

.text-pri {
    color: #0a101f !important;
}

.text-yellow {
    color: #fabd23 !important;
}

.bg-yellow {
    background-color: #fabd23 !important;;
}

.bg-yellow:hover {
    background-color: #866512 !important;;
}

.bg-yellow-light {
    background-color: #fabd2321 !important;
}

.bor-1 {
    border: 1px solid #fabd23 !important;
}

h1 {
    font-size: 45px !important;
}

.card_style {
    background-color: #1f2b4934 !important;   
    border: 1px solid rgb(90, 90, 90) !important;
    transition: .3s ease;
    cursor: pointer;
}

.card_style:hover {
    transform: translateY(-10px);
    border: 1px solid #0cd1d3 !important;
}

.text-green {
    color: #0cd1d3 !important;
}

.bg-green {
    background-color: #0cd1d3;
    color: #0a101f;
    font-weight: bold;
}

strong {
    font-size: 30px;
}

@media (max-width: 1000px){
    h1 {
        font-size: 30px !important;
    }
}